@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.harmP{
	width:85%;
	bottom:20px;
}

body {
	background-image: url("bg2.png");
  background-repeat: repeat;
	
}

.head{
	width: 50%;
	margin: 0 auto;
}

.base1 {
	width: 55%;
	margin: 0 auto;
	
	
}
.welcome{
	width: 600px;
	height: 305px;
	background-color:#f4dadb;
	border: 1px solid white;
	text-align:center;
	font-size: 200%;
	float: left;

color: black;
    text-shadow:
    -2px -2px 0 #FFF,
    2px -2px 0 #FFF,
    -2px 2px 0 #FFF,
    2px 2px 0 #FFF;  
	
}
.reigenprofile {
	float:left;
	border: 2px solid red;
	margin-left:25px;
	
}

.base2{
	clear:both;
	width: 60%;
	padding-top: 25px;
	margin: 0 auto;
	
}

.ghost {
	float: left;
	
	
}

.poulter{
	width: 530px;
	height: 255px;
	float:left;
	background-color:#b3faec;
	margin-left: 50px;
	font-size: 170%;
}

.lovedone{
	
	width: 530px;
	height: 235px;
	float:left;
	background-color:yellow;
	margin-left: 10px;
	font-size: 170%;
	margin-top:15px;
	animation:argh-my-eyes 1s infinite;
}


@-webkit-keyframes argh-my-eyes {
    0%   { background-color: yellow; }
    49% { background-color: yellow; }
    50% { background-color: #2114d6; }
    99% { background-color: #2114d6; }
    100% { background-color: yellow; }
  }
  @-moz-keyframes argh-my-eyes {
    0%   { background-color: yellow; }
    49% { background-color: yellow; }
    50% { background-color: #2114d6; }
    99% { background-color: #2114d6; }
    100% { background-color: yellow; }
  }
  @keyframes argh-my-eyes {
    0%   { background-color: yellow; }
    49% { background-color: yellow; }
    50% { background-color: #2114d6; }
    99% { background-color: #2114d6; }
    100% { background-color: yellow; }
  }

	
.base3{
	
	clear:both;
	width: 65%;
	padding-top: 8px;
	margin: 0 auto;
}
.photography {
	width: 530px;
	height: 235px;
	float:left;
	background-color:#c9f3ab;
	margin-left: 10px;
	font-size: 210%;
	
}



.stigma {
	width: 530px;
	height: 225px;
	float:left;
	background-color:#535554;
	margin-left: 10px;
	font-size: 180%;
	
}


.base4 {
	clear:both;
	width: 65%;
	padding-top: 8px;
	margin: 0 auto;
	
}

.stiff{
	width: 580px;
	height: 205px;
	float:left;
	background-color:#c89ce9;
	margin-left: 10px;
	font-size: 180%;
	animation:argh-my-eyes2 1s infinite;
}
@-webkit-keyframes argh-my-eyes2 {
    0%   { background-color: #c9f3ab; }
    49% { background-color: #c9f3ab; }
    50% { background-color: #c89ce9; }
    99% { background-color: #c89ce9; }
    100% { background-color: #c9f3ab; }
  }
  @-moz-keyframes argh-my-eyes2 {
    0%   { background-color:#c9f3ab; }
    49% { background-color: #c9f3ab; }
    50% { background-color: #c89ce9; }
    99% { background-color:#c89ce9; }
    100% { background-color: #c9f3ab; }
  }
  @keyframes argh-my-eyes2 {
    0%   { background-color: #c9f3ab; }
    49% { background-color: #c9f3ab; }
    50% { background-color: #c89ce9; }
    99% { background-color: #c89ce9; }
    100% { background-color: #c9f3ab; }
  }
.modern {
	width: 530px;
	height: 215px;
	float:left;
	background-color:#6f0b17;
	margin-left: 10px;
	font-size: 180%;
	margin-bottom:25px;
	
	
}

.arrow {
	width:25%;
margin-left:85px;
	
}



.ghost2{
	float:right;
		
}
.base5{
	clear:both;
	width: 65%;
	padding-top: 8px;
	margin: 0 auto;
}


.execute{
margin-bottom:20px;
}

.prices {
	 
	height:35%;
	width:80%;
	background-color:#eaecbd;
	text-align:left;
	padding-left: 20px;

	
	 display: flex;
  justify-content: center;
  align-items: center;
  --borderWidth: 8px;

  position: relative;
  
}


.prices:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  
  z-index: -1;
  animation: animatedgradient 1s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.moves{
	
	clear:both;
	width: 75%;
	padding-top: 8px;
	margin: 0 auto;
	background-color:#d5d2ed;
	margin-top:8px;
	height:33%;
	text-align:center;
}

.candle {
	width:25%;
	float:left;
	margin-left: 25px;
}
.salt{
	width:25%;
	float:right;
	margin-right:50px;
	margin-bottom: 50px;
}

.shopSign{
	clear:both;
	width: 10%;
	height: 39%;
	padding-top: 8px;
	margin: 0 auto;
	margin-top: 15px;
 vertical-align: text-top;
 animation:argh-my-eyes3 1s infinite;
 background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  
  z-index: -1;
  animation: animatedgradient 1s ease alternate infinite;
  background-size: 300% 300%;
}

.yen{
	vertical-align:bottom;
 float:left;
}

.yen2{
	
	
}
@-webkit-keyframes argh-my-eyes3 {
    0%   { background-color: #5dd3ae; }
    49% { background-color:#5dd3ae; }
    50% { background-color: #b8d153; }
    99% { background-color: #b8d153; }
    100% { background-color: #5dd3ae; }
  }
  @-moz-keyframes argh-my-eyes3 {
    0%   { background-color:#5dd3ae; }
    49% { background-color: #5dd3ae; }
    50% { background-color: #b8d153; }
    99% { background-color:#b8d153; }
    100% { background-color: #5dd3ae; }
  }
  @keyframes argh-my-eyes3 {
    0%   { background-color: #5dd3ae; }
    49% { background-color: #5dd3ae; }
    50% { background-color: #b8d153; }
    99% { background-color: #b8d153; }
    100% { background-color: #5dd3ae; }
  }

  .shopText{
	 position: relative;
top: 6px; 	
	  
  }
  
  .shopHead{
	 
	  margin: auto;
	   margin-top:30px;
	   font-size:40px;
		width: 40%;
		height:13%;
	  text-align:center;
	  background-color:#e5d3e8;
	  
	 display: flex;
  justify-content: center;
  align-items: center;
  --borderWidth: 5px;

  position: relative;
	  
  }
  
  .shopHead:after{
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  
  z-index: -1;
  animation: animatedgradient 0.5s ease alternate infinite;
  background-size: 300% 300%;
  }
  
  .sbody1{
	  float:center;
	clear:both;
	width:55%;
	height:108%;
	padding:30px;
	padding-top: 8px;
	margin: 0 auto;
	 background-color:#fff0d8;
	 text-align:center;
	 
	
	 border: 6px solid white;
  }
  
  .saltpackage{
	  width:20%;
	  display:inline-block;
	  margin-top:50px;
	  margin-left:15px;
  }
  
  .spackageText{
	  display:inline-block;
	  margin-top:120px;
	  margin-left:10px;
	  float:left;
	  font-size:23px;
  }
  hr{
	  border-top: 3px solid green;
  }
  
  .oil{
	  display:inline-block;
	  position:relative;
	  float:left;
	  width:20%;
	  margin-top:150px;
	  margin-right:150px;
	  right:200px;
  }
  .oiltext{
	  display:inline-block;
	  position:relative;
	  float:left;
bottom:150px;
	left:330px;
	  font-size:23px;
  }
  
  .token{
	  display:inline-block;
	  position:relative;
	  float:left;
	  width:25%;
	  top:55px;
	  right:665px;
  }
  .tokenText{
	  display:inline-block;
	  position:relative;
	  bottom:90px;
	  font-size:23px;
	  left:130px;
  }
  .saletime{
	  font-size:35px;
	  animation: blinker 1s step-start infinite;
  }


@keyframes blinker {
  50% {
    color:red;
  }
  100%{
	 color:blue;
  }
}

.donate{
	padding-bottom:10px;
	font-size:20px;
clear:both;
	width: 25%;
	height:5%;
	padding-top: 8px;
	margin: 0 auto;
	margin-top: 50px;
	 background-color:#fff0d8;
	 text-align:center;
	 
	 display: flex;
  justify-content: center;
  align-items: center;
  --borderWidth: 2px;

  position: relative;
}
.donate:after{
	content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  
  z-index: -1;
  animation: animatedgradient 1s ease alternate infinite;
  background-size: 300% 300%;
}

.return{

	padding:5px;
	width:15%;
	text-align:center;
	margin:auto;
	background-color:#d4f6fc;
}
.shopbg{
	background: url(http://joepeacock.com/wp-content/uploads/2017/04/IMG_6009.gif) repeat, url(https://static.tumblr.com/91c86b76c086535806e5c9044f6d064e/rfnjdth/Fp5o3mxqv/tumblr_static_tumblr_static__640.gif) center center fixed no-repeat;
 background-size: 100px 100px, cover;
}
.comment{
	margin:auto;
	margin-top:50px;
	background-color:#cecece;
	padding: 10px;
	width:50%;
}
hr{
	border-top: 3px solid purple;
}
  /* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/holidays/hol-1/hol18.cur), auto !important;} /* End http://www.cursors-4u.com */