body {
	background-image: url("http://i0.kym-cdn.com/photos/images/original/000/741/400/073.gif");
	
}

.title1 {
	font-size: 205px;
	color: "#000000";
	text-align: center;
}
.title2 {
	font-size: 255px;
	color: "#000000";
	text-align: center;
}