body {
	background-image: url("http://i0.kym-cdn.com/photos/images/original/000/741/400/073.gif");
	
}

.title1 {
	font-size: 205px;
	color: #FFFFFF;
	text-align: center;
	text-shadow:
   -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
     3px 3px 0 #000;
}
.title2 {
	font-size: 400px;
	color: #FFFFFF;
	text-align: center;
	text-shadow:
   -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
     3px 3px 0 #000;
}
.bgMusic {
	display:none;
	
}